<?xml version="1.0"?>
<config>
    <modules>
        <Magenteiro_Integration>
            <version>1.0.0</version>
        </Magenteiro_Integration>
    </modules>
    <global>
        <models>
            <magenteiro_integration>
                <class>Magenteiro_Integration_Model</class>
                <resourceModel>magenteiro_integration_resource</resourceModel>
            </magenteiro_integration>
            <magenteiro_integration_resource>
                <class>Magenteiro_Integration_Model_Resource</class>
                <entities>
                    <queue>
                        <table>magenteiro_integration_queue</table>
                    </queue>
                </entities>
            </magenteiro_integration_resource>
        </models>
        <helpers>
            <magenteiro_integration>
                <class>Magenteiro_Integration_Helper</class>
            </magenteiro_integration>
        </helpers>
        <events>
            <sales_order_place_after>
                <observers>
                    <magenteiro_integration>
                        <type>model</type>
                        <class>magenteiro_integration/observer</class>
                        <method>execute</method>
                    </magenteiro_integration>
                </observers>
            </sales_order_place_after>
        </events>
    </global>
    <frontend>
        <routers>
            <magenteiro_integration>
                <use>standard</use>
                <args>
                    <module>Magenteiro_Integration</module>
                    <frontName>integration</frontName>
                </args>
            </magenteiro_integration>
        </routers>
    </frontend>
    <crontab>
        <jobs>
            <magenteiro_integration_order>
                <schedule>
                    <cron_expr>0 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>magenteiro_integration/observer::integrate</model>
                </run>
            </magenteiro_integration_order>
        </jobs> 
    </crontab>
</config>