<?xml version="1.0"?>
<config>
    <modules>
        <Magenteiro_Config>
            <version>1.0.0</version>
        </Magenteiro_Config>
    </modules>
    <global>
    </global>
    <default>
        <configs>
            <visual>
                <palavra>Teste</palavra>
            </visual>
        </configs>
    </default>
</config>