<?xml version="1.0" encoding="UTF-8" ?>
<config>
    <tabs>
        <magenteiro>
            <label>Magenteiro</label>
            <sort_order>10</sort_order>
        </magenteiro>
    </tabs>
    <sections>
        <configs>
            <label>Configurações</label>
            <tab>magenteiro</tab>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <visual>
                    <label>Configurações visuais</label>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <expanded>1</expanded>
                    <fields>
                        <habilitado>
                            <label>Exibir</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <sort_order>10</sort_order>
                        </habilitado>
                        <palavra>
                            <label>Texto</label>
                            <frontend_type>text</frontend_type>
                            <comment><![CDATA[Texto que será exibido]]></comment>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <sort_order>20</sort_order>
                        </palavra>
                    </fields>
                </visual>
            </groups>
        </configs>
    </sections>
</config>
