<?xml version="1.0"?>
<config>
    <modules>
        <Magenteiro_NovoCostumer>
            <version>1.0.0</version>
        </Magenteiro_NovoCostumer>
    </modules>
    <global>
        <models>
            <magenteiro_novocostumer>
                <class>Magenteiro_NovoCostumer_Model</class>
                <resourceModel>magenteiro_novocostumer_ressource</resourceModel>
            </magenteiro_novocostumer>    
            <customer>        
                <rewrite>
                    <customer>Magenteiro_NovoCostumer_Model_Customer_Customer</customer>
                </rewrite>
            </customer>
        </models>
    </global>
</config>